.aaa {
  border: 2px solid red;
  margin-top: 1rem;
}

.bbb {
  border: 2px solid blue;
  margin-top: 1rem;
}

.ccc {
  border: 2px solid orange;  
  margin-top: 1rem;
}

.active {
  border: 2px orange;
}