<section fxLayoutAlign="center center" fxLayout="column" ngClass.gt-sm="section-height"> 
  
  <div fxLayoutGap="16px" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"  >
  <h1 fxFlexAlign="baseline">Search in hundreds tech jobs.</h1>
  <h3 fxFlexAlign="baseline">Find yours today</h3>
  </div>
  
  <form [formGroup]='searchHomeForm' (ngSubmit)="onSubmit()" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="32px">
    <!-- keyword input -->
    <mat-form-field>
      <input type="email" matInput placeholder="Job Title, Keywords" formControlName="keyword" autocomplete="email">
      <mat-error *ngIf="keyword.invalid">{{ getErrorMessage('keyword') }}</mat-error>
    </mat-form-field>

    <!-- location input -->
    <mat-form-field>
      <input type="email" matInput placeholder="Zip Code, City, State" formControlName="location" autocomplete="email">
      <mat-error *ngIf="location.invalid">{{ getErrorMessage('location') }}</mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" [disabled]="!searchHomeForm.valid">Find Jobs</button>

    <!-- <p>Form Group Status: {{signupForm.status}}</p>
        <p>isAccepted: {{ isAccepted }}</p>
        <p>SignupForm Errors: {{ signupForm.errors }}</p>  -->
  </form>

</section>