.example-form {
  // min-width: 10rem;
  // max-width: 20rem;
  // width: 100%;
  margin-top: 2rem;
  // margin: 1rem;
  padding: 2rem 3rem;
  // border: 1px solid gainsboro;
}

// .example-full-width {
  
// }

mat-form-field,  mat-slide-toggle{
  max-width: 20rem;
  padding-top: 1rem ;
  width: 100%;
}

mat-slide-toggle {
  padding:1rem 0 3rem;
}
