.example-form { 
  margin-top: 2rem;
  padding: 2rem 3rem;
}

mat-form-field,  mat-slide-toggle{
  max-width: 20rem;
  min-width: 15rem;
  padding-top: 1rem ;
  width: 100%;
}

mat-slide-toggle {
  padding:1rem 0 3rem;
}
