<section fxLayoutAlign="center center">
   <mat-card class="example-form" >
    <form [formGroup]='signupForm' (ngSubmit)="onSubmit()"fxLayout="column" fxLayoutAlign="center center">
     
      <!-- Select a role js/jg -->
      <mat-form-field>
        <mat-select placeholder="What you want to do?" formControlName="usertype">
          <mat-option value="option">I want to find a job/post my resume</mat-option>
          <mat-option value="option">I want to hire a tech/post a job</mat-option>
        </mat-select>
        <mat-error *ngIf="signupForm.invalid">{{ getErrorMessage('usertype') }}</mat-error>
      </mat-form-field>
  
      <!-- username/email -->
      <mat-form-field>
        <input type="email" matInput placeholder="Enter an email address" formControlName="username" autocomplete="email">
        <mat-error *ngIf="signupForm.get('username').invalid">{{ getErrorMessage('username') }}</mat-error>
      </mat-form-field>
  
      <!-- password -->
      <mat-form-field hintLabel="Min 6 characters">
        <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="new-password" (input)=onPasswordInput()>
        <mat-hint align="end">{{ getPasswordLength ('password') }}/6</mat-hint>
        <mat-error *ngIf="password.invalid">{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>
  
      <!-- re-enter password -->
      <mat-form-field *ngIf="!password.invalid">
        <input type="password" matInput placeholder="Retype Password" formControlName="valPassword" autocomplete="new-password" (input)=onPasswordInput()>
        <mat-error *ngIf="valpassword.errors?.required">{{ getErrorMessage('valPassword') }}</mat-error>
        <mat-error *ngIf="valpassword.errors?.nomatch && signupForm.get('valPassword').touched && signupForm.get('valPassword').dirty && !valpassword.errors.required">Passwords don't match</mat-error>
        <!-- <span *ngIf="signupForm.errors?.nomatch && signupForm.get('valPassword').touched && signupForm.get('valPassword').dirty && valpassword.valid">Passwords don't match</span> -->
        <!-- <mat-error *ngIf="!signupForm.get('valPassword').valid">{{ getErrorMessage('valPassword') }}</mat-error> -->
        <!-- <mat-hint align="end">{{ getPasswordLength ('valPassword') }}/10</mat-hint> -->
      </mat-form-field>
  
      <!-- Term and Conditions -->
      <mat-slide-toggle (change)="onCheckToggle($event)" formControlName="terms">
        I agree to the Terms & Conditions
      </mat-slide-toggle>
  
      <!-- Submit Button -->
      <button mat-raised-button color="primary" [disabled]="!signupForm.valid || !isAccepted">Sign up</button>
      
      <!-- <p>Form Group Status: {{signupForm.status}}</p>
      <p>isAccepted: {{ isAccepted }}</p>
      <p>SignupForm Errors: {{ signupForm.errors }}</p> -->
     </form></mat-card>
 
</section>