.example-form {
  min-width: 10rem;
  max-width: 20rem;
  width: 100%;
  margin-top: 1rem;
  margin: 1rem;
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  max-width: 20rem;
  padding-top: 1rem;
}
