<section>
  <form [formGroup]='signupForm' (ngSubmit)="onSubmit()" class="example-form" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="What you want to do?" formControlName="usertype">
        <mat-option value="option">I want to find a job/post my resume</mat-option>
        <mat-option value="option">I want to hire a tech/post a job</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- username/email -->
    <mat-form-field class="example-full-width">
      <input type="email" matInput placeholder="Enter an email address" formControlName="username" autocomplete="email">
      <mat-error *ngIf="!signupForm.get('username').valid">{{ getErrorMessage('username') }}</mat-error>
    </mat-form-field>
    <!-- password -->
    <mat-form-field class="example-full-width" hintLabel="Min 6 characters">
      <input type="password" matInput placeholder="Enter a password" formControlName="password" autocomplete="new-password"><mat-hint align="end">{{ getPasswordLength ('password') }}/6</mat-hint>
      <mat-error *ngIf="!signupForm.get('password').valid">{{ getErrorMessage('password') }}</mat-error>
      
    </mat-form-field>
    <!-- re-enter password -->
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Re-enter password" formControlName="valPassword" autocomplete="new-password">
      <span class="mat-error" *ngIf="signupForm.errors?.mismatch && signupForm.get('valPassword').touched && signupForm.get('valPassword').dirty">Passwords not match</span>
      <!-- <mat-error *ngIf="!signupForm.get('valPassword').valid">{{ getErrorMessage('valPassword') }}</mat-error> -->
      
      <!-- <mat-hint align="end">{{ getPasswordLength ('valPassword') }}/10</mat-hint> -->
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!signupForm.valid">Submit</button>
  </form>
</section>