// $green: #8DC63F !default;
// $orange: #F7941E !default;
// $brown: #594a42 !default;
// $dark-brown: #414042 !default;
// $tan: #e7e1d7 !default;
$grey-something:white!default;

// $text-color: $dark-brown !default;
$link-color: $grey-something !default;
// $primary-mask-color: $orange !default;

$text-primary: white !global;
$text-secondary: black !default;
